.photoWall{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 por fila */
    box-sizing: border-box;
     gap: 1px;
    &_card{
          display: flex;
            flex-direction: column;
            width: 100%;
        img{
            width: 100%; 
            height: 100%;   
            object-fit: contain; 
            display: block;
        }
    }
}