.buttons{
    &_primary{
        height: 2rem;
        border-radius: 15px;
        background: #cb831d;
        color: white;
        font-weight: 700;
        font-size: 14px;
        padding: 6px;
    }
}