.cardProfile {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); // Asegura que las columnas tengan el mismo ancho
    box-sizing: border-box;
    gap: 1px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;

    &_card {
        position: relative;
        width: 100%;
   
        padding-bottom: 100%; // Crea un cuadrado basado en el ancho
        min-height: 150px;
        overflow: hidden;
        background-color: #f5f5f5;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.05);
            }
        }
    }

   &_cardPlus {
        background-color: #dddff9;
    color: #051132;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    height: 100%;
    flex-direction: column;
    
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    
    img {
        max-width: 40px;
        margin-bottom: 10px;
        display: block;
    }
}
}