.cardProfile{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 por fila */
    box-sizing: border-box;
    gap: 1px;
    &_card{
          display: flex;
            flex-direction: column;
            width: 100%;
        img{
            width: 100%; 
            height: 100%;   
            object-fit: contain; 
            display: block;
        }
    }
    &_cardPlus{
        background-color: #dddff9;
        color: #051132;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        height: 100%;
    }
}