.headerProfile{
    margin: 5px 0 5px 0;
    &_content{
        display: flex;
        gap: 10px;
        text-align: center;
    }
    &_button{
        background-color: #051132;
        width: 40%;
        margin: auto;
        color: white;
        text-align: center;
        border-radius: 5px;
    }

}