.headerProfile{
    margin: 5px 0 5px 0;
    &_content{
        display: flex;
        gap: 10px;
        font-size: 14px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        font-weight: 500;
        &-contentUser{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        &-user{
            background-color: #051132;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &_contentButton{
        display: flex;
    }
    &_button{
        background-color: #051132;
        width: 30%;
        margin: auto;
        color: white;
        text-align: center;
        border-radius: 5px;
        height: 1.5rem;
    }

}