.actions{
    &_like{
        padding: 2px;
        width: 20px;
        height: 20px;
        display: flex;
        gap: 3px;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        img{
            width: 100%;
        }
    }
}