.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  &_img-container {
    width: 100%;
    aspect-ratio: 1; // This makes the container square
     height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; // Optional: Add a background color
    
    .card_img {
      width: 100%;
      height: 100%;
      object-fit: cover; // This will cover the container while maintaining aspect ratio
    }
  }
}