.header{
    background-color: #051132;
    height: 2.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}